**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

# Additional directories to ignore for Flutter and Dart
.ci/
.idea/
.packages
.flutter-versions

# Android specific
/android/key.properties
/android/local.properties
/android/.gradle/
/android/app/build/
/android/.cxx/

# iOS specific
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Flutter/*.h
ios/Flutter/*.m
ios/Flutter/*.podspec

# macOS specific
macos/Flutter/Flutter.podspec
macos/Pods/
/macos/.symlinks/
/macos/Flutter/ephemeral/

# Windows specific
/windows/flutter/ephemeral/

# Linux specific
/linux/flutter/ephemeral/

# Web specific
/web/.dart_tool/
/web/.flutter-plugins-dependencies
/web/.flutter-plugins

# VSCode specific
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

